body{margin:0; padding:0;width:100vw;height: 100vh;overflow-x: hidden;}
header{
  width:100vw; height:100vh; position: relative;
}
#bg-img-head{
  position: absolute; width:100%; height:100%;
}
#txt-head{
  position: relative;font-family:cursive;
  text-shadow:1px 2px 3px #28a745;top:40%;
}
#main{background-image: linear-gradient(180deg, rgba(194,203,210,0.33) 0%, #ffffff 36%);}
.c-y{
    color: #eff157 !important;
}
#carret-down{
  position:absolute; bottom:10px; left:48%;cursor: pointer;text-shadow:1px 2px 2px #eff157;
}
#carret-down:hover{
  color: #eff157 !important;text-shadow:1px 2px 2px #28a745;;
}
.icon{
    max-width:50px;
}
#items{
  position: fixed; background-color: white; box-shadow:3px 3px 5px black;
  width:90vw; height:90vh;z-index:11; top:5vh !important;left:5vw !important;
  max-height: 700px; overflow-y: auto; display: none;
}
.card-header{cursor: pointer;}
.form-size{width:90vw; max-width:500px; height:90vw; max-height:500px;min-height: 400px;z-index: 5;}
.main-form{   
    box-shadow:3px 3px 5px black;
    overflow-y: auto;overflow-x: hidden;
}
.list-group-item:hover{cursor: pointer;}
::-webkit-scrollbar {
    width: 10px;
}
footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
#popup{
  opacity:0.7; position: absolute;width:100vw;height: 100vh;top:0; z-index: 100;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 241, 241);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #28a745;
}
#popup-print{
  position:absolute; display:none; width:95vw; min-height:95vh;
  left:2.5vw;top:2.5vh;background-color: white;
  box-shadow:3px 3px 5px black; padding:1rem;z-index:100;
}