/*A*/
/*B*/
body, html{
  scroll-behavior: smooth;margin:0; padding:0;width:100vw;height: 100vh;overflow-x: hidden;overflow: overlay;
}
#bg-img-head{
  position: absolute; width:100%; height:100%;
}
.btn-index{
  border-radius:25px;box-shadow:0 10px 30px 0px rgba(87, 184, 70, 0.5); 
}
/*C*/
.c-y{
  color: #eff157 !important;
}
#carret-down{
  position:absolute; bottom:10px; left:48%;cursor: pointer;text-shadow:1px 2px 2px #eff157;
}
#carret-down:hover{
  color: #eff157 !important;text-shadow:1px 2px 2px #28a745;;
}
.card-header{cursor: pointer;}
/*D*/
/*E*/
/*F*/
.form-size{width:90vw; max-width:500px; height:90vw; max-height:500px;min-height: 400px;z-index: 5;}
footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.form-inputs{
  border-radius:0px; border-width:0px;border-bottom-width:1px;border-color:#66D37E;font-weight:100;
}
/*G*/
/*H*/
.header{
  width:100vw; height:100vh; position: relative;
}
.header-txt-bg{width: 80%;
  max-width: 700px; background-color:rgba(255, 255, 255, 0.65);border-radius:0 50%;
}
/*I*/
.icon{
  max-width:50px;
}
#items{
  position: fixed; background-color: white; box-shadow:3px 3px 5px black;
  width:90vw; height:90vh;z-index:11; top:5vh !important;left:5vw !important;
  max-height: 700px; overflow-y: auto; scroll-behavior: smooth;
}
#invoice{
  position: absolute; display: none; z-index: 100; top: 0; left: 0; width: 100vw;
  height: 100vh; background-color: white;
}
#info{
  position: absolute; display: flex; background-color: white; max-width: 500px; max-height: 650px;
  width: 90vw; height: 90vh; z-index: 50;display: none;box-shadow: 1px 2px 3px #343a40;
  top: 50%;left: 50%; transform: translate(-50%, -50%)
}
/*J*/
/*K*/
/*L*/
.list-group-item:hover{cursor: pointer;}
/*M*/
#main{background-image: linear-gradient(180deg, rgba(194,203,210,0.33) 0%, #ffffff 36%);}
.main-form{  scroll-behavior: smooth; 
  box-shadow:3px 3px 5px black;
  overflow-y: auto;overflow-x: hidden;
}
/*N*/
/*O*/
.o-set:hover, .bell:hover{
  cursor: pointer; color: #007bff !important;
}
#order-set-popup{
  position: fixed; display: block; min-height: 400px; z-index: 5; display: none;
  left: 10px; top: 20px; background-color: rgba(255, 255, 255, 0.8);
  width:calc(100vw - 20px); height:calc(100vh - 10px); border-radius:20px;
}
/*P*/
#popup{
  opacity:0.7; position: absolute;width:100vw;height: 100vh;top:0; z-index: 100;
}
#popup-print{
  position:absolute; display:none; width:95vw; min-height:95vh;
  left:2.5vw;top:2.5vh;background-color: white;
  box-shadow:3px 3px 5px black; padding:1rem;z-index:100;
}
/*Q*/
/*R*/
/*S*/
.side-link{
  height: 35vh; max-height: 400px; top:calc(50vh - 200px) !important; left:0; z-index: 100;
  width: 40px; display: flex; position: absolute; justify-content: flex-end; align-items:center;
  background: rgba(241, 244, 248, 0.6);
}
.side-icon{
  color: #66D37E; border-radius: 50%; border: 1px solid #66D37E; padding:5px;
  width: 30px; height: 30px; text-align: center; cursor: pointer;
}
.side-icon:hover{
  color: white; background-color: #66D37E;
}
/*T*/
.txt-head{
  position: relative;font-family:cursive;
  text-shadow:-1px -1px 0 #28a745, 1px -1px 0 #28a745,-1px 1px 0 #28a745, 1px 1px 0 #28a745;top:40%;
}
/*U*/
/*V*/
/*W*/
/*X*/
/*Y*/
/*Z*/

::-webkit-scrollbar{
  width: 4px !important;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
}
::-webkit-scrollbar-thumb:hover {
   background: #28a745;
}
@media only screen and (min-width: 500px){
  .header-txt-bg{border-radius:10px !important; }
}